body {
	margin: 0;
	background-color: lavender;
	font-family: 'Source Sans Pro';
}

@font-face {
	font-family: 'Cantarell', sans-serif;
}

@font-face {
	font-family: 'Source Sans Pro', sans-serif;
}

.fullpage {
	height: 100vh;
	width: 100%;
}

.sae-logo {
display:inline-block;	height: 100px; width:200px;
	background-image: url('../images/SAE.png');background-size: contain;
	background-repeat: no-repeat;
}.enduro-logo {
display:inline-block;height: 100px; float:right;width:600px;
background-image: url('../images/enduro.png');background-size: contain;
	background-repeat: no-repeat;
}

.baja-logo {height:150px;width:500px; margin-left:40%; margin-right:auto;
background-image: url('../images/baja.PNG');background-size: contain;
	background-repeat: no-repeat; align:center;
}

button {
	outline: none;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#title {
	font-family: 'Cantarell';
	background-color: rgba(0, 0, 0, 0.8);
	color: #ffffff;
	width: 100%;
	padding: 20px 20px 10px;
	font-size: 30px;
	box-sizing: border-box;
}

#home .fullpage {
	background-image: url('../images/homepics/pic1.jpg');
 height:75%;	background-size: cover;
	transition: background-image 0.6s ease-in-out;
	background-position: center;
	background-repeat: no-repeat;
}

.hidden {
	display: none;
}

#home #title {
	position: fixed;
	top: 0;
	left: 0;
}

.tmr-logo {
	background-image: url('../images/icon.png'); 
	background-size: contain;
	width: 280px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 120px;
}

#sponsors .contact-bar {
	margin-top: -5px;
}

#home nav {
	position: fixed;
	top: 71px;
}

nav {
	position: sticky;
	top: 0;
	left: 0;
}

#cars #title {
	display: none;
}

#cars nav {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
}

#sponsors .sponsor-pic, #sponsors .sponsor-pic img {
	width: 100%;
}

#contact nav {
	padding-right: 80px;
}


#achievements h1, #current-team h1, #current-alumni h1 {
	text-align: center;
	margin-top: 35px;
	width: 100%;
 font-size:45px;}

/*
#about, #current-team, #achievements, #current-alumni {
	margin-bottom: 100px;
}
*/
/*Nav - Start*/
nav {
    background-color: rgba(243, 80, 15, 0.9);
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 0 0 0 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	transition: all 0.3s ease;
    background-color: rgba(203, 70, 0, 0.9);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #f9f9f9;
	margin: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 30px;
    font-size: 14px;
	text-align: center;
}

.dropdown-content a:hover {
	background-color: rgba(243, 80, 15, 0.9);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Nav - End*/

/*Cars - Start*/

.back-to-top {
	position: fixed;
	bottom: 0;
	right: 20px;
	height: 30px;
	border: none;
	background-color: rgba(0, 0, 0, 0.3);
	color: #ddd;
	padding: 20px 20px 30px 16px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;  
	font-size: 20px;
}

.back-to-top:hover {
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
	transition: all 0.3s ease-in-out;  
}

.car-data {
	font-size: 1.3em;
    text-align: left;
    width: 40%;
    display: inline-block;
    margin-left: 60px;
    line-height: 35px;
    box-sizing: border-box;
}

.car-pic {
	height: 70%;
	width: 40%;
	display: inline-block;
	float: right;
    margin-right: 60px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 40px;
    background-size: contain;
}

/*Cars - End*/

/*Contact Us - Start*/

.send-message {
	margin: 20px;
 	display: flex;
 	justify-content: center;
 	flex-direction: column;
 	align-items: center;
}

.send-message form {
	text-align: left;
	width: 400px;
}

.send-message input, .send-message textarea, .send-message button {
	margin: 15px 0;
	outline: none;
	border: none;
	font-size: 18px;
	padding: 10px;
	width: 400px;
}

.send-message input, .send-message textarea {
	border-style: none none solid none;
	background-color: transparent;
	transition: all 0.5s ease;
}

.send-message input:focus, .send-message textarea:focus {
	border-style: none none solid none;
	background-color: transparent;
	border-color: rgba(243, 80, 15, 0.9);
	transition: all 0.5s ease;
}

.send-message button {
	border-radius: 5px;
	background-color: #111;
	color: #eee;
	width: 120px;
	height: 45px;
	transition: all 0.1s ease-in-out;
}

.send-message button:hover {
	color: #111;
	background-color: rgba(243, 80, 15, 0.9);
	transition: all 0.1s ease-in-out;
}
/*Contact Us - End*/

/*Chevrons - Start*/
.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}
/*Chevrons - End*/

/*About - Start*/

#about-us {
	text-align: center;
	padding: 60px 0 20px;
	min-height: calc(100vh - 120px);
}

.heading {
	font-size: 40px;
	padding: 25px 0 10px;
	color: #D34E00;
	text-align: center;
	letter-spacing: 2px;
	font-variant: small-caps;
	font-weight: 4px;
}

#mit-pic {
	background-image: url('../images/mit.jpg');
	height: 250px;
	background-size: cover;
	background-position: bottom;
	margin: 20px 0;
}

.about {
	padding: 10px 120px;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 1px;
	text-align: center;
}
/*About - End*/

/*Achievements - Start*/
.achievements-list {
	padding: 0 80px;
	line-height: 40px;
	font-size: 1.2em;
}

#achievements .flex-container div {
	width: 450px;
}

/*Achievements - End*/

/*Team - Start*/
#current-team, #current-alumni {
	padding: 0 80px;
	font-size: 1.3em;
	line-height: 35px;
}

#current-team h1 {
	margin: 60px 0;
}

#current-alumni h1 {
	margin: 60px 0 0;
}

.year {
	margin: 60px 0 -10px 0; 
	font-size: 30px;
}

.year:first-child {
	margin-top: 0;
}
/*Team - End*/

/*Gallery - Start*/

#gallery {
	background-color: ##FEFEFE;
}

#gallery .flex-container {
	justify-content: space-around;
}

.gallery-image {
	width: 27%;
	margin: 30px 0;
	border-radius: 5px;
	box-shadow: 3px 3px 7px #111;
	height: 300px;
	background-position: center!important;
	background-size: cover!important;
	background-repeat: no-repeat!important;
}

.gallery-title {
	padding-top: 50px;
	text-align: center;
	font-size: 35px;
	margin: 30px;
}
/*Gallery - End*/


/*Burger - Start*/

#burger-container {
	display: none;
	position: absolute;
	top: 20px;
	right: 30px;
}

#burger {
	cursor: pointer;
	display: block;
}

#burger span {
	background: #eee;
	display: block;
	width: 27px;
	height: 2px;
	margin-bottom: 7px;
	position: relative;
	top: 0;
	transition: all ease-in-out 0.4s;
	border-radius: 1px;
}

#burger-container.open span:nth-child(2) {
	width: 0;
	opacity: 0;
}

#burger-container.open span:nth-child(3) {
	transform: rotate(45deg);
	top: -9px;
}

#burger-container.open span:nth-child(1) {
	transform: rotate(-45deg);
	top: 9px;
}
/*Burger - End*/

/*Contact us bar - Start*/
.contact-bar {
	background-image: url('../images/Bottombar.jpg');
	height: 80px;
	background-position: right top;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #0E1106;
	border-style: solid;
	border-color: #E25012;
	border-right-color: #0E1106;
	border-left-color: #0E1106;
	border-width: 6px;
	text-decoration: none;
	display: flex;
	align-items: center;
	font-size: 24px;
	bottom: 0;
	margin-top: 30px;
}

.contact-bar a, .contact-bar div {
	margin: 0 20px;
	color: #E25012;
}
/*Contact us bar - End*/

@media screen and (max-width: 1000px) {

	.car-data {
		font-size: 16px;
		margin: 0 30px;
	}

}

@media screen and (max-width: 855px) {

	li a, .dropbtn {
	    padding: 10px 12px;
	}

	.gallery-image {
		width: 40%;
	}

	.car-pic {
		display: none;
	}

	.car-data {
		margin-top: 50px;
		font-size: 2vmax;
		width: 80%;
	}
	 
}

@media screen and (max-width: 790px) {
	 
	#title {
		font-size: 20px;
		padding-bottom: 15px;
	}

	#burger-container {
		display: block;
	}

	nav {
		display: none;
		border-radius: 0;
		height: calc(100vh - 120px);
		overflow-y: scroll;
		overflow-x: hidden;
	}

	nav ul {
		display: flex;
		flex-direction: column;		
	}
	
	ul {
		width: calc(100% - 21px);
		margin-bottom: 20px;
	}

	li a {
		width: 100%;
		margin: 3px 0;
	}	

	.dropdown-content {
		width: calc(100% - 65px);
		position: relative;
		display: block;
		padding-left: 21px;
	}

	.dropdown-content a:hover {
		background-color: #333;
		color: #eee;
	}	

	#about-us, .about, .achievements-list, #current-team, #current-alumni {
		padding: 0 20px;
		overflow-x: hidden;
	}

	.about {
		text-align: left;
	}

	#home nav {
		top: 63px;
	}	

	.send-message input, .send-message textarea, .send-message button {
		width: 80%;
	}	

	.send-message form {
		width: 100%;
	}

	#cars #title {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;
		padding: 10px;
	}

	#cars #burger-container {
		top: 15px;
		right: 15px;
	}

	#cars nav {
		position: fixed;
		top: 48px;
		height: calc(100vh - 48px);
	}

}


@media screen and (max-width: 730px) {

	.contact-bar {
		display: none;
	}

	#contact .contact-bar {
		display: block;
	}

	.gallery-image {
		width: 80%;
	}
	 
}